body {
    font-family: $font-body;
}

h1,
h2,
h3,
h4 {
    font-family: $font-headings;
    font-weight: $bold;
}

h5,
h6 {
    font-family: $font-subheading;
    font-weight: $medium;
}

a {
    text-decoration: none;
    color: $color-primary;
}

a:hover {
    text-decoration: none;
    color: darken($color-primary, 10);
    border-color: darken($color-primary, 10);
}

a.border {
    border-bottom: 2px solid $color-primary;
}

h1,
.h1 {
    font-size: rem(30);

    @include media-breakpoint-up(md) {
        font-size: rem(32);
    }
}

h2,
.h2 {
    font-size: rem(48);

    @include media-breakpoint-up(md) {
        font-size: rem(88);
    }

    @include media-breakpoint-up(lg) {
        font-size: rem(104);
    }
}

h3,
.h3 {
    font-size: rem(48);

    @include media-breakpoint-up(md) {
        font-size: rem(80);
    }
}

h4,
.h4 {
    font-size: rem(32);

    @include media-breakpoint-up(md) {
        font-size: rem(48);
    }
}

h5,
.h5 {
    font-size: rem(24);

    @include media-breakpoint-up(md) {
        font-size: rem(32);
    }
}

h6,
.h6 {
    font-size: rem(18);

    @include media-breakpoint-up(md) {
        font-size: rem(24);
    }
}

p,
li {
    font-weight: $light;
    font-size: rem(18);
    line-height: 1.7;

    strong {
        font-weight: $bold;
    }

    @include media-breakpoint-up(md) {
        font-size: rem(24);
    }
}

li::marker {
    color: $color-primary;
}