.hero {
    &__text {
        position: absolute;
    }

    &__spacer {
        color: $color-secondary;
        pointer-events: none;
        position: relative;
        visibility: hidden;
        z-index: -1;
    }
}