footer {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 75px;
}

footer a {
    font-family: var(--font-family-heading);
    font-weight: 600;
    font-size: 44px;
    margin-right: 15px;
    text-decoration: underline;
}

@media (max-width: 500px) {
    footer {
        text-align: left;
    }

    footer a {
        display: block;
    }
}