body {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 15px 45px;
}

nav a {
    margin-left: 15px;
}

main,
footer {
    max-width: var(--container-size);
    padding: 0 20px 0 20vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    align-items: baseline;
    display: flex;
}

header h1 a {
    font-family: inherit;
    font-size: inherit;
}

header hr {
    background-color: var(--color-primary);
    border: none;
    margin: 0 20px;
    height: 21px;
    width: 2px;
}

header .page-title {
    font-size: 21px;
}

hr {
    background-color: var(--color-primary);
    border: none;
    height: 1px;
    width: 100%;
}

section {
    margin-bottom: 85px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:hover {
    font-style: italic;
    cursor: pointer;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 7px;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
}

@media (min-width: 768px) and (max-width: 1100px) {

    body {
        padding: 15px 40px;
    }

    main,
    footer {
        padding: 0 0 0 9vw;
    }
}

@media (max-width: 767px) {

    body {
        padding: 10px 20px;
    }

    main,
    footer {
        padding: 0px;
    }

    section {
        margin-bottom: 60px;
    }

    header hr {
        display: none;
    }

    header .page-title {
        display: none;
    }
}