@font-face {
  font-family: Neuehaasdisplayroman;
  src: url("../asset/Neue/NeueHaasDisplayRoman.ttf");
}

@font-face {
  font-family: NeueHaasDisplayBold;
  src: url("../asset/Neue/NeueHaasDisplayBold.ttf");
}

body {
  background-color: #e7520c;
  color: #fff;
  padding: 15px 45px;
}

h1,
h3,
h4 {
  font-family: Neuehaasdisplayroman;
}

h1 {
  font-size: 32px;
}

h2 {
  font-family: NeueHaasDisplayBold;
  font-size: 104px;
}

h3 {
  font-size: 80px;
  margin: 0 0 25px 0;
}

h4 {
  font-size: 48px;
  margin: 0 0 25px 0;
}

p,
a,
span {
  font-family: minion-pro-display, serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 24px;
  margin: 0;
}

a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

nav a {
  margin-left: 15px;
}

main {
  padding: 0 20px 0 20vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a {
  font-family: inherit;
  font-size: inherit;
}

.page_title {
  font-size: 21px;
  font-family: "Neuehaasdisplayroman";
}

.page_title::before {
  content: "|";
  margin: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero span {
  font-family: NeueHaasDisplayBold;
}

hr {
  width: 200px;
  margin-right: 30px;
}

section {
  margin-bottom: 85px;
}

article {
  margin-bottom: 20px;
}

article span {
  margin-right: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

article p {
  line-height: 1.7;
}

.projects div {
  position: relative;
}

.projects span {
  position: absolute;
  top: 10%;
}

.projects h3 {
  margin-left: 10vw;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:hover {
  font-style: italic;
  cursor: pointer;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 7px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
}

.skills span {
  overflow: hidden;
  font-style: italic;
  font-size: 18px;
}

.skills span:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid white;
}

.bar_bg {
  width: 300px;
  height: 15px;
  background-color: #e7510c;
  border-radius: 10px;
  border: 1px solid white;
}

.bar_progress {
  height: 100%;
  background-color: white;
  border-radius: inherit;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 15px;
  align-items: center;
  font-style: italic;
  margin-bottom: 30px;
}

.solutions div {
  width: 100px;
  height: 100px;
  margin-right: 25px;
}

footer {
  padding: 50px 0;
}
