@media (max-width: 767px) {
  body {
    padding: 10px 20px;
  }

  main {
    padding: 0px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 32px;
  }

  .page_title::before {
    margin: 0 5px;
    content: "\a |";
    white-space: pre;
  }

  section {
    margin-bottom: 60px;
  }

  article {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    grid-column-gap: 0;
  }

  hr {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .parent {
    grid-template-columns: repeat(1, 1fr);
  }

  .bar_bg {
    height: 10px;
    border-radius: 2px;
  }

  .skills span:after {
    visibility: hidden;
  }
}

@media (max-width: 540px) {
  .solutions {
    flex-direction: column;
  }

  .solutions svg {
    transform: rotate(90deg);
    margin: 0;
  }
}
