.skills span {
    overflow: hidden;
    font-size: 18px;
}

.skills span:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid var(--color-primary);
}

.skills__parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    align-items: center;
    margin-bottom: 30px;
}

.skills__bar-bg {
    width: 100%;
    height: 15px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    border: 1px solid var(--color-primary);
}

.skills__bar-progress {
    height: 100%;
    background-color: var(--color-primary);
    border-radius: inherit;
}

@media (max-width: 767px) {
    .skills__parent {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills__bar-bg {
        height: 10px;
        border-radius: 2px;
    }

    .skills__skills span:after {
        visibility: hidden;
    }
}