@font-face {
    font-family: 'BornaBold', sans-serif;
    src: url("../asset/fonts/borna-bold-webfont.woff2");
}

@font-face {
    font-family: 'BornaMedium', sans-serif;
    src: url("../asset/fonts/borna-medium-webfont.woff2");
}

@font-face {
    font-family: 'BornaRegular', sans-serif;
    src: url("../asset/fonts/borna-regular-webfont.woff2");
}

@font-face {
    font-family: 'Comme', sans-serif;
    src: url("../asset/fonts/Comme-VariableFont_wght.ttf");
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-family-subheading);
}

.hero span {
    font-family: var(--font-family-heading);
    font-size: 104px;
    font-weight: 600;
}

a,
.page-title {
    font-family: var(--font-family-regular);
}

a {
    font-size: 21px;
    color: var(--color-primary);
    text-decoration: none;
}

p,
span {
    font-family: var(--font-family-paragraph);
    font-weight: 200;
    font-size: 24px;
    margin: 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 104px;
}

h3 {
    font-size: 80px;
    margin: 0 0 25px 0;
}

h4 {
    font-size: 48px;
    margin: 0 0 25px 0;
}


@media (min-width: 768px) and (max-width: 1100px) {
    .hero span {
        font-size: 88px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 30px;
    }

    h2,
    .hero span {
        font-size: 48px;
    }

    h3 {
        font-size: 48px;
    }

    h4 {
        font-size: 32px;
    }

    a {
        font-size: 16px;
    }

    p,
    span {
        font-size: 18px;
    }
}