:root {
    --container-size: 1150px;

    --color-primary: #000;
    --color-secondary: #fefc52;

    --font-family-heading: 'BornaBold', sans-serif;
    --font-family-subheading: 'BornaMedium', sans-serif;
    --font-family-regular: 'BornaRegular', sans-serif;
    --font-family-paragraph: 'Comme', sans-serif;
}